 *,
*::before,
*::after {
  box-sizing: border-box; 
  margin:0;
  padding:0;
  font-size:62.5%;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
   /* makes it so widths and heights are easier to style */
  font-family: Arial, Helvetica, sans-serif; 


}

h1 {
  font-size: 8em;
  color: purple;
  display: flex;
  justify-content: center;
}

h2 {
font-size: 10px;
background-color: purple;
color: white;
display: flex;
  justify-content: center
  
  }

#questions-container {
    
    width:200px;
    height: 200px;
    display: flex; 
    justify-content: center;

    /* doesnt overflow our page */
    background-color: purple;
    margin: 0 auto;
    padding: 10px; 
    align-items: center;
    
} 
#startButton {
    font-size: 2.4rem;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, grey);
    border-radius:4px;
    display: flex;
    justify-content: center;
    background-color:purple;
    border-color: blueviolet;
    color: white;
    margin-left: auto center; 
    margin-top: 0rem;

}

#score {
    font-size: 10px;
    width: 5rem;
    text-align: center;
    border-radius:40px;
    border-width: 40px;
    border-color: blueviolet;
    background-color:purple;
    color: white;
    margin-left: 450px; 
}

#highscores-link {
    display: center;
    justify-content: center;
    background-color:purple;
    border-color: blueviolet;
    color: white;
    margin-left: 200px;
    width: 100px;
    height: 30px;
}


#answer-buttons {
    display: grid;
    gap: 10px;
    justify-content: center;
    background: purple;
    

  
}

.btn {
    cursor: pointer;
    background-color: white;
    font-size: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-color: blueviolet;
    color: purple;
    
    
}

#questions{
    font-size: 20px;
    display: inline;
    color: purple;
    display: inline;
    text-align: center;
    margin: 2rem;
    cursor: pointer;
}
#timer {
    /* visibility: 'hidden'; */
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 20px;
    background-color: purple;
    border-color: blueviolet;
    color: white;
    font-size: 10px;
    margin-top: -15rem;
   
}




#highscores-container {

    color: white;
    background-color: purple;
    font-size: 10px;
    width:200px;
    height: 200px;
    margin-top: -100px;
    margin-left: 200px;

}

#initials-label {
    /* visibility: hidden; */
}


#score-container {
    text-align: center; 
    width: 155px;
    height: 100px;
    background-color: purple;
    color: white;
    padding: 30px;
    margin-top: -100px;
    margin-left: 185px;
}

.hidden {
    visibility: hidden;
}


@media screen and (max-width: 600px) {
    div.example {
      display: none;
    }
}

